html{
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5%=10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
  }

/*para aplicar a todos los elementos se puede utilizar google font*/
body{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
}


/*Estilos globales*/
img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem; /*1200 px*/
    margin: 0 auto;  /*0 porque no alineamos a los lados auto es a los lados*/
}

h1{
font-size: 2.8rem;
}
h2{
font-size: 2.4rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2.6rem;
}

/*Utilidades*/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
    
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important;
}

/*Botones*/
.boton{
    color:  #fff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;

    background-size: 200%;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display:inline-block;
    text-align: center;
    background-position: right;
}

.boton:hover{
    cursor: pointer;
}
.boton-naranja{
    background-image: linear-gradient(to left, #FF9F67, #ec8b53, #FF9F67);

}
.boton-azul{
    background-color: #072366;
}
.ver-propiedades{
    display: flex;
    justify-content: flex-end;
}

/*Header */

.site-header{
    background-color: #FCEBE2;
    padding: 1rem 0 2rem 0;

}


.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    height: 100vh; /*se pone vh toma toda la altura, y mide 600px, ymaximo toda lapantalla*/
    background-size: cover;
    min-height: 60rem; /*600 px*/
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    color:#072366;
    text-decoration: none;
    padding-bottom: 2rem; 
    max-width: 60rem;
    line-height: 3rem;
    
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/** Navegacion**/
.navegacion a{
    color: #072366;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 15px;
}
.navegacion a:hover{
    color:white;
}

.navegacion a:last-of-type{
    margin: 0;
}

/*Iconos Nosotros*/
.icono-nosotros{
    display: flex;
    justify-content: space-between;

}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align:center;
}

.icono h3{
    text-transform: uppercase;
}
/*Anuncio de ventas*/
.contenedor-anuncio{
    display: flex;
}

.anuncio-casa{
    flex-basis: calc(33.3% -1rem);
    border: 1px solid wheat;
    background-color: rgb(252, 242, 225);
}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3 .contenido-anuncio p{
    margin: 0;
}
.precio{
    color: rgb(241, 168, 100) ;
    font-weight: 700;
}


/*Contacto Home - Pagina Principal*/


.imagen-inferior{
    background-image: url(../img/imagen-inferior.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    align-items: center;
   
}
.contenido-contacto{
    flex: 1;
    color: white;
   
}
.contenido-contacto p{
    font-size: 1.8rem;
    
}

/*footer*/
.site-footer{
    background-color: #FCEBE2;
    margin: 0;
}
.contenderor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin: 0;
    color: #072366;
}

/*INTERNAS*/
.contenido-nosotros{
    display: grid; /*utiliza columas*/
    grid-template-columns: repeat(2, 1fr); /*fr es una fraccion - Defines la cantidad de columnas*/
    grid-column-gap: 2rem;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 3rem;

}

/*Contacto*/
.contacto p{
    font-size: 1.5rem;
    color:  #9c928d;
    margin: 2rem;
}

legend{
    font-size: 2rem;
    color: #2e4b80;
}
label{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: #223d70;
}
/*Selecciona todos los input, a excepcion de submit*/
input:not([type="submit"]),
textarea, select{ 
    padding: 1rem;
    display:block;
    width: 100%;
    background-color: #faebe3;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
/*Toma unicamente el ancho que necesita*/
input[type="radio"]{
    width: auto;
    margin: 0;
}

select{
    -webkit-appearance: none; /*prefijo, es necesario para que funcione*/
    appearance: none;
}
textarea{ /*Asignamos altura*/
    height: 20rem;
}
.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}