<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Ingreso y registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>


    <header class="site-header centrar-contenido">

        <div class="contenedor contenido-header cod-container ">
            <div class="form-header">
                <img src="/img/Logo Inmobiliaria.png" alt="Logo inmobiliaria">
                
            </div>

            <div class="form-content">
                <form action="#" class="cod-form">
                    <div class="form-title">
                        <h3> Iniciar sesion</h3>
                    </div>

                    <div class="input-group">
                        <input type="email" class= "form-input" name="form-input" id="correo">
                        <label class="label" for="correo">Correo</label>
                    </div>

                    <div class="input-group">
                        <input type="password" class= "form-input" name="form-input" id="pass">
                        <label class="label" for="pass">Contraseña</label>
                    </div>

                    <div class="input-group">
                        <input type="submit" class= "form-input" value="Iniciar Sesion">
                        <p>Si no tienes cuenta  <a href="#" class="alt-form"> Ingresa Aqui</a> </p>
                    </div>

                </form>

            </div>


            <div class="form-content">
                <form action="#" class="cod-form">
                    <div class="form-title">
                        <h3> Registrate Aqui</h3>
                    </div>

                    <div class="input-group">
                        <input type="email" class= "form-input" name="form-input" id="reg-correo">
                        <label class="label" for="reg-correo">Correo</label>
                    </div>

                    <div class="input-group">
                        <input type="password" class= "form-input" name="form-input" id="pass">
                        <label class="label" for="reg-pass">Contraseña</label>
                    </div>

                    <div class="input-group">
                        <input type="password" class= "form-input" name="form-input" id="pass">
                        <label class="label" for="reg-rep-pass">Repetir Contraseña</label>
                    </div>

                    <div class="input-group">
                        <input type="submit" class= "form-input" value="Registrarse">
                        <p>Si no tienes cuenta  <a href="#" class="alt-form"> Ingresa Aqui</a> </p>
                    </div>

                </form>

            </div>


        </div>
    </header>
    
    <script src="/JS/jquery-3.5.1.min.js"> </script>
    <script src="/JS/form.js"> </script>
</body>
</html>