<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    
    <header class = "site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                    <!--si oprimo en la imagen, me lleva a la pagina ppal-->
                    <a href="/">
                    <img src="/img/Logo Inmobiliaria.png" alt="Logo de Inmobiliaria">
                    </a>

                <nav class="navegacion">
                    <a href="/Templates/index.html">Inicio</a>
                    <a href="/Templates/propiedades.html">Propiedades</a>
                    <a href="/Templates/nosotros.html">Nosotros</a>
                    <a href="/Templates/contacto.html">Contacto</a>
                    <a href="/Templates/ingresar.html">Ingresar</a>
                </nav>
        
            </div> <!-- Div que cierra barra-->
        </div> <!-- Div que cierra contenedor-->
    </header>

 





<!--Seccion del footer, navegacion igual que en el inicio-->
    <footer class="site-footer seccion">
        <div class=" contenedor contenderor-footer">
            <nav class="navegacion">
                <a href="/Templates/index.html">Inicio</a>
                    <a href="/Templates/propiedades.html">Propiedades</a>
                    <a href="/Templates/nosotros.html">Nosotros</a>
                    <a href="/Templates/contacto.html">Contacto</a>
                    <a href="/Templates/ingresar.html">Ingresar</a>
            </nav>

            <p class="copyright"> Todos los derechos reservados &copy;</p>
        </div>
    </footer>
</body>
</html>